.sidebar{
    &__categories{
        @media (max-width: 640px){
            padding: 0 10px;
        }
        & ul.categories{
            padding: 10px 0;
            @media (max-width: 640px){
                display: flex;
                flex-wrap: wrap;
            }
            & li{
                padding: 20px 10px 20px 40px;
                transition: all .3s ease-in-out;
                cursor: pointer;
                &.active , &:hover{
                    background-color: var(--gray-bg);
                    & a{
                        color: black !important;
                    }
                }
                &.active{
                    border-top: 1px solid var(--border-color);
                    border-bottom: 1px solid var(--border-color);
                }
                & a{
                    color: var(--gray-font) !important;
                }
                @media (max-width: 640px){
                    padding: 10px 20px;
    
                }
            }
        }
    }
}