.logos-slider {
  margin-top: 20px;
}

@media (max-width: 640px) {
  .logos-slider {
    padding: 20px;
  }
}

.logos-slider img {
  max-width: 200px;
  min-width: 100px;
}

@media (max-width: 400px) {
  .logos-slider img {
    max-width: 150px;
  }
}
