.breadcrumbs {
  background-color: var(--gray-bg);
  color: var(--gray-font);
  padding: 10px 0;
}

@media (max-width: 640px) {
  .breadcrumbs {
    padding: 10px;
  }
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__list li:not(:first-child)::before {
  content: ">";
  margin: 0 10px;
}
